<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.upc.carcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".CarCareApp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATABASE" android:value="carcare.db"/>
        <meta-data android:name="VERSION" android:value="2"/>
        <meta-data android:name="QUERY_LOG" android:value="true"/>
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="pe.edu.upc.carcare.models"/>

        <activity android:name=".activities.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carcare.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".activities.FuelUpEntriesActivity"
            android:label="@string/title_activity_fuel_up_entries"
            android:parentActivityName=".activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carcare.activities.DashboardActivity" />
        </activity>
        <activity
            android:name=".activities.AddFuelUpEntryActivity"
            android:label="@string/title_activity_add_fuel_up_entry"
            android:parentActivityName=".activities.FuelUpEntriesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pe.edu.upc.carcare.activities.FuelUpEntriesActivity" />
        </activity>
    </application>

</manifest>